html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;

    background-color: rgb(16, 16, 16);
    color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: url('/img/background.png');
    background-attachment: fixed;
}

header {
    width: 100%;
    background-color: rgb(48, 48, 48);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    display: block;
    padding: 12px;
    color: rgb(224, 224, 224);
    text-decoration: none;
}

nav img {
    max-height: 2em;
}

nav::after {
    content: "";
    display: block;
    clear: both;
}

main {
    width: calc(100% - 20px);
    margin: 20px;
}

main img {
    max-width: 100%;
}

section:has(a) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article:has(section) {
    display: grid;
    grid: auto auto / auto auto;
    grid-auto-flow: column;
    gap: 10px;
}

section a {
    color: rgb(224, 224, 224);
    text-decoration: none;
    background-color: rgb(64, 64, 64);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

section a img {
    margin: 10px;
    max-height: 10em;
}

section a h4 {
    margin-top: 0;
    margin-bottom: 0;
}

aside {
    float: right;
}

aside img {
    max-width: 40em;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(224, 224, 224);
    margin: auto;
}

table caption {
    padding: 10px;
}

th,
td {
    padding: 5px;
}

th+th,
td+td {
    border-left: 1px solid rgb(224, 224, 224);
}

thead tr {
    border-bottom: 1px solid rgb(224, 224, 224);
}

tbody tr:nth-child(odd) {
    background-color: rgb(48, 48, 48);
}

.banzai {
    box-shadow: 0 0 10px orange;
    border: 1px solid orange;
}

.atlas {
    box-shadow: 0 0 10px green;
    border: 1px solid green;
}

/* just to get the button centered */
form {
    display: flex;
    justify-content: center;

    padding: 10px;
}

button {
    padding: 10px;
    background-color: rgb(255, 224, 0);
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;

    /* just to get the button to not stack the image and text */
    display: flex;
}

button img {
    max-height: 1.5em;
}

button span {
    padding-left: 5px;

    /* just to get the text centered */
    align-items: center;
    display: flex;
}

button:hover {
    background-color: rgb(224, 192, 0);
}

.suit-icon {
    /* pixel-perfect */
    max-width: 160px;
    max-height: initial;
}

section a .suit-icon {
    /* pixel-perfect / 2 */
    max-width: 80px;
    max-height: initial;
}

@media (max-width: 45em) {
    article:has(section) {
        grid: auto auto auto auto / auto;
    }
}

@media (max-width: 60em) {
    aside img {
        max-width: 100%;
    }
}
